@font-face {
  font-family: 'ALSHauss-Black';
  src: url('../fonts/ALSHauss/ALSHauss-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ALSHauss/ALSHauss-Black.woff') format('woff'),
    url('../fonts/ALSHauss/ALSHauss-Black.ttf') format('truetype'),
    url('../fonts/Navigo/ALSHauss-Black.svg#ALSHauss-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ALSHauss-Bold';
  src: url('../fonts/ALSHauss/ALSHauss-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ALSHauss/ALSHauss-Bold.woff') format('woff'),
    url('../fonts/ALSHauss/ALSHauss-Bold.ttf') format('truetype'),
    url('../fonts/Navigo/ALSHauss-Bold.svg#ALSHauss-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ALSHauss-Regular';
  src: url('../fonts/ALSHauss/ALSHauss-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ALSHauss/ALSHauss-Regular.woff') format('woff'),
    url('../fonts/ALSHauss/ALSHauss-Regular.ttf') format('truetype'),
    url('../fonts/Navigo/ALSHauss-Regular.svg#ALSHauss-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ALSHauss-Book';
  src: url('../fonts/ALSHauss/ALSHauss-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ALSHauss/ALSHauss-Book.woff') format('woff'),
    url('../fonts/ALSHauss/ALSHauss-Book.ttf') format('truetype'),
    url('../fonts/Navigo/ALSHauss-Book.svg#ALSHauss-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ALSHauss-Light';
  src: url('../fonts/ALSHauss/ALSHauss-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ALSHauss/ALSHauss-Light.woff') format('woff'),
    url('../fonts/ALSHauss/ALSHauss-Light.ttf') format('truetype'),
    url('../fonts/Navigo/ALSHauss-Light.svg#ALSHauss-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Navigo-Black';
  src: url('../fonts/Navigo/Navigo-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Navigo/Navigo-Black.woff') format('woff'),
    url('../fonts/Navigo/Navigo-Black.ttf') format('truetype'),
    url('../fonts/Navigo/Navigo-Black.svg#Navigo-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Navigo-Bold';
  src: url('../fonts/Navigo/Navigo-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Navigo/Navigo-Bold.woff') format('woff'),
    url('../fonts/Navigo/Navigo-Bold.ttf') format('truetype'),
    url('../fonts/Navigo/Navigo-Black.svg#Navigo-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Navigo-Regular';
  src: url('../fonts/Navigo/Navigo-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Navigo/Navigo-Regular.woff') format('woff'),
    url('../fonts/Navigo/Navigo-Regular.ttf') format('truetype'),
    url('../fonts/Navigo/Navigo-Regular.svg#Navigo-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}